extends layout

block content

  div.error

  h1 Paradise Filter Images

  div.flex.one.two-500.five-900
    each photo in photos
      div.frame
        div.photo(id=photo.id)
          a(href="/photo/" + photo.id target="_blank")
            img(src=photo.url)
          if user && user.id === photo.user
            i.fa.fa-trash.delete
          if photo.liked
            i.fa.fa-heart.like
          else
            i.fa.fa-heart-o.like
        div.flex.three.info
          h2.two-third.title= photo.title
          span.hearts
            span.count= photo.likes.length
            = ' '
            i.fa.fa-heart

  if user
    form.add(action="/photos" method="POST" enctype="multipart/form-data")
      label.dropimage
        input(type="file" name="image" title="Drop image or click me" required)
      div.flex.three
        label.two-third
          input(name="title" placeholder="Title" required)
        label
          input.full(type="submit" value="Upload")
  else
    button.upload Upload picture


  .modal
    input#clearbox(type='checkbox')
    label.overlay(for='clearbox')
    article
      header
        h3
        label.close(for='clearbox') ×
      section.content
        img
