doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/picnicss/6.0.0/plugins.min.css")
    link(rel='stylesheet', href='style.css')
    block head
  body
    block content

    script(src="https://unpkg.com/cookiesjs@1")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="javascript.js")
